* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.title {
  margin-top: 00.5em;
  font-size: larger;
  font-weight: bold;
  margin-right: auto;
}
.nav-content {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 0.5em;
  color: snow;
  text-decoration: none;
}
