.main-container {
  display: flex;
  flex-direction: row;
  height: 150vh;
  max-height: 100rem;
  color: snow;
  user-select: none;
  background-size: cover;
  flex-wrap: wrap;
  font-size: 2em;
  padding: 0.5em;
  background-image: url(imagesweb/scott-graham-OQMZwNd3ThU-unsplash.jpg);
}
